<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 底部 -->
<div class="footer">
    <div class="footer-tp">
        <div class="footer-lf">
            <img class="footer-logo" src="./images/logo.svg" alt="">
            <div class="footer-lf-txt">
                <h4>海礁</h4>
                <p>分享你的就医经历</p>
            </div>
        </div>
        <div class="footer-rg">
            <div class="footer-rg-item footer-rg-item1">
                <p class="item-b">公司</p>
                <p><a href="./about.html"> 关于我们 </a></p>
                <p>加入我们</p>
            </div>
            <div class="footer-rg-item footer-rg-item1">
                <p class="item-c">内容相关</p>
                <p>社区精选</p>
                <p>媒体报道</p>
            </div>
            <div class="footer-rg-item footer-rg-item1">
                <p class="item-d">协议条款</p>
                <p>隐私协议</p>
                <p>侵权投诉</p>
                <p>合作协议</p>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <p class="footer-tips">京ICP备14007358号-1 / 京公网安备11010802014104号 / Copyright © 2019-2019 侨外就一(海南)健康咨询有限公司 / 地址：重庆市江北区星耀天地21号楼6楼 / 电话：021-64224530</p>
</div>

</body>
</html>
