<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 底部 -->
<div class="cont-header">
    <img class="ch-src" src="./images/logo.svg" alt="">
    <div class="ch-slogan">
        <div class="chs-name">飞芽社区</div>
        <div class="chs-s">分享你的就医经历</div>
    </div>
    <nav class="idx-nav">
        <a href="./index.html">首页</a>
        <a href="./public.html">大众</a>
        <a href="./hospital.html">境外医疗机构</a>
        <a href="./product.html">产品区</a>
        <a href="./about.html">关于我们</a>
        <a href="./cooperation.html">商务合作</a>
    </nav>
</div>
</body>
</html>
